.app_cmp{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  border: 1px solid rgba(0,0,0,.125);
  margin: 5% auto;
  padding: 2%;
  border-radius: 6px;
}

.timer_cmp{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}
.timer_cmp button{
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
  padding: 2%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
span{
  color:#d2691e;
}
.timer{
  border: 1px solid rgba(0,0,0,.125);
  margin: 10% 0;
  padding: 10% 5%;
  border-radius: 6px;
}
.timer_removed{
  background-color: #d1e7dd;
  color: #0f5132;
  border: 1px solid #badbcc;
  border-radius: 6px;
  padding: 1%;
  margin-top: 1%;
}